footer {
  text-align: center;
}

footer a {
  text-decoration: none;
}

.container {
  padding-right: 2rem;
  padding-left: 2rem;
}

/* Examples */
ul.examples {
  list-style: none;
}

a.class-name {
  padding: 4px;
  border-radius: 6px;
  background-color: #333;
  color: white;
}

a.class-name:hover {
  color: #bbb;
}

.desc {
  padding: 4px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}
